* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
  padding: 1%;
  background-color: #aaa;
}


nav {
position: fixed;
/*display: flex;
justify-content: center;
align-items: center; */
top: 0;
left: 0;
right: 0;
z-index: 10;
}


header {
padding: 20% 7% 0 7%;
/* needed? */
}

.hero-text h1 {
  font-size: 2.3em;
}

h6,
h2,
p {
  font-size: 1em;
}

h3 {
  font-size: 1.5em;
}

h1 {
  margin-block-end: 5px;
}

h6 {
  margin-block-start: 5px;
  margin-block-end: 5px;
}


div.mobile-container {
  /*div takes whole width; space left will be divided and but left hand side of margin left auto*/
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  list-style: none;
  margin-left: 4%;
  margin-right: 4%;
  }
 

.hide {
  display: none;
}  
  

div.flex-container {
/*div takes whole width; space left will be divided and but left hand side of margin left auto*/
display: none;
margin: 0 3% 0 3%;
}


div.flex-container div {
margin: 10px;
}


.name {
/*display: none;*/
color:white;
margin: 1% 0 1%;
}

.project {
min-height: 200px;
}

/*
font-size: 6vw 
set each meach query responsively*/

.card {
border: 1px solid #eee;
border-radius: 5px;
}

.card-block {
text-align:left;
}

.card-text {
  padding: 3%;
}

.hero-img img {
width: 150px;
margin-top: 30px;
border-radius: 360px;
}

.card-footer {
  margin: 2%;
  display: flex;
  justify-content: center;
}

.project-img {
  width: 100%;
}

.btn {
  font-size: 1em;
  padding: 2px 10px;
  min-width: 100px;
  text-decoration: none;
}

.btn-light {
  color: #01213b;
  background: #ffffff;
  border: 2px solid #01213b;
}

.btn-dark {
  color: white;
  background: #01213b;
  border: 2px solid #01213b;
}

.Demo {
  margin-left: 2%;
}


.about-text {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0 3% 0 3%;
}

.about-me {
  margin-top: 6%
}

ul {
  /*div takes whole width; space left will be divided and but left hand side of margin left auto*/
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  list-style: none;
  padding-inline-start: 0px;
}




@media (min-width: 750px){

  .hero-text h1  {
    font-size: 3em;;
  }

  h6,
  h2,
  p {
    font-size: 1em;;
  }


  h1,
  h6 {
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
  }

  .btn {
    font-size: 1.1em;
    padding: 5px 16px;

    }

  .project_btn {
    width: 30px;
  }

  .hero-text {
    margin-right: 5%;
  }

  .hero-img img {
    margin-top: 50px;;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0 0 0;
    margin-top: 3%;
  } 


  nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 10;
  }

  div.mobile-container {
    display: none;
  }


  .name {
    display: inline;
  }

  div.flex-container {
    /*div takes whole width; space left will be divided and but left hand side of margin left auto*/
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    list-style: none;
    flex: 1; 
  }



  .project-img {
  width: 50%;
  margin:auto;
  }


  .about-container,
  .card {
    display: flex;
    margin: 0% 6% 0% 6%;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    flex: 1; 
  }

  .about-text,
  .card-text {
    padding: 0 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
    list-style: none;
    flex: 1; 
  }

  ul {
    /*div takes whole width; space left will be divided and but left hand side of margin left auto*/
    display: flex;
    justify-content: center;
    align-items: center; 
    list-style: none;
    padding-inline-start: 0px;
  }

  li {
    margin-left: 2%;
}

}




@media (min-width:1100px){

  .hero-text h1  {
    font-size: 6em;;
  }

  h6,
  h2,
  p {
    font-size: 1.5em;;
  }

  .hero-img img {
    width: 250px;
    border-radius: 360px;
    margin-top: 100px
  }

  .about-container, 
  .card {
    margin: 0 15%;
  }

  .btn {
    font-size: 1.5em;
  }

  h3.name {
    font-size: 2em;
  }

  h1,
  h6 {
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }

  header {
    margin-top: 0;
  }

  .about-text,
  .card-text {
    padding: 0 6%;
  }


  /* .card {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-block {
    width: 100%
  }

  .project-img {
    width: 100%
  } */


} 