* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

nav,
footer {
padding: 1%;
background-color: #aaa;
}

nav {
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 10;
}


header {
padding: 12%;
/* needed? */
margin-top: 30px;;
}

.links ul {
display: inline;
list-style: none;
}

.links li {
display: inline;
padding-right: px;
padding-left: px;
}

.name {
float: left;
}

.project {
min-height: 200px;
padding: 6%;

}

.porfolio {
  background-color: #ddd;
}

.card {
border: 1px solid #eee;
border-radius: 5px;
font-size: 0.67em;
padding: 3%;
}

.card-block {
text-align:left;
}

.hero-img img {
width: 220px;
border-radius: 360px;
background-color: grey;
}

.card-footer {
margin: 2%;
display: flex;
justify-content: center;
}

.project-img {
width: 100%;
}

.btn {
font-size: 1.1em;
padding: 5px 16px;
min-width: 134px;
text-decoration: none;
border: none;
}

.btn-light {
  color: #01213b;
  background: #ffffff;
  border: 2px solid #01213b;
}

.btn-dark {
  color: white;
  background: #01213b;
  border: 2px solid #01213b;
}

.Demo {
margin-left: 2%;
}


@media (min-width:650px){
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}


@media (min-width:900px){
  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}